<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScadaMobile"
        tools:targetApi="31">

        <!-- URL по умолчанию для TWA -->
        <!-- DEV: http://127.0.0.1:8000/ (локальный сервер) -->
        <!-- PROD: https://your-domain.com/ (публичный HTTPS домен) -->
        <meta-data
            android:name="android.support.customtabs.trusted.DEFAULT_URL"
            android:value="http://127.0.0.1:8000/" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent filter для TWA -->
            <!-- ВАЖНО: autoVerify работает ТОЛЬКО с HTTPS и публичными доменами! -->
            <!-- Для локальной разработки (http://127.0.0.1) autoVerify не работает -->
            <!-- Раскомментируйте autoVerify только при публикации на HTTPS домен -->
            <intent-filter>
                <!-- <intent-filter android:autoVerify="true"> для PRODUCTION с HTTPS -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- DEV: локальный сервер -->
                <data
                    android:scheme="http"
                    android:host="127.0.0.1"
                    android:port="8000" />

                <!-- PROD: раскомментируйте и замените на ваш домен -->
                <!--
                <data
                    android:scheme="https"
                    android:host="your-domain.com" />
                -->
            </intent-filter>

        </activity>
    </application>

</manifest>